@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: rgba(0, 30, 190, 1);
    --color-secondary: rgba(227, 227, 227, 1);
    --color-semi-grey: rgba(114, 114, 114, 1);
    --color-dark-grey: rgba(58, 58, 58, 1);
    --font-supply: "Supply", sans-serif;
  }
}

@layer utilities {
  .debug {
    @apply border border-red-500;
  }
  .hidden-on-mobile {
    @apply hidden sm:flex;
  }

  .hidden-on-desktop {
    @apply flex sm:hidden;
  }
}

@font-face {
  font-family: "Supply";
  src: url("../../public/fonts/PPSupplyMono-Variable.woff");
  font-display: swap;
  descent-override: 0%;
}
