@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #001ebe;
    --font-supply: "Supply", sans-serif;
  }
}

@font-face {
  font-family: "Supply";
  src: url("../../public/fonts/PPSupplyMono-Variable.woff");
  font-display: swap;
  descent-override: 0%;
}

@layer base {
  body {
    @apply bg-background;
  }
}

.underline-small {
  text-decoration-thickness: 1px;
}
